<!DOCTYPE html>
<html data-ng-app='main'>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>


    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href='./content/jquery.gridster.css' />
    <link rel="stylesheet" type="text/css" href='./content/navbar.css' />
    <link rel="stylesheet" type="text/css" href='./content/main.css' />
    <link rel="stylesheet" type="text/css" href='./content/grid.css' />


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
    <script type="text/javascript" src="./script/vendor/jquery.gridster.js"></script>
    <script type="text/javascript" src="./script/vendor/rx.lite.js"></script>
    <script type="text/javascript" src="./script/vendor/angular-local-storage.js"></script>


    <script type="text/javascript" src="./script/bw/infrastructure/listHelperService.js"></script>
    <script type="text/javascript" src="./script/bw/infrastructure/buildService.js"></script>
    <script type="text/javascript" src="./script/bw/infrastructure/buildListHelperService.js"></script>
    <script type="text/javascript" src="./script/bw/infrastructure/grid/gridRenderService.js"></script>
    <script type="text/javascript" src="./script/bw/infrastructure/storageService.js"></script>
    <script type="text/javascript" src="./script/bw/infrastructure/dateService.js"></script>

    <script type="text/javascript" src="./script/bw/modules/shared/services/buildServiceWrapper.js"></script>
    <script type="text/javascript" src="./script/bw/modules/shared/filters/itemName.js"></script>
    <script type="text/javascript" src="./script/bw/modules/shared/filters/orderName.js"></script>


    <script type="text/javascript" src="./script/bw/modules/shared/directives/navtab/navtabs.js"></script>
    <script type="text/javascript" src="./script/bw/modules/shared/directives/navtab/tab.js"></script>

    <script type="text/javascript" src="./script/bw/modules/shared/shared.js"></script>
    <script type="text/javascript" src="./script/bw/modules/shared/builds.js"></script>


    <script type="text/javascript" src="./script/bw/modules/shared/directives/buildDetails.js"></script>
    <script type="text/javascript" src="./script/bw/modules/shared/directives/checkList.js"></script>
    <script type="text/javascript" src="./script/bw/modules/shared/directives/blocker.js"></script>


    <script type="text/javascript" src="./script/bw/modules/main/directives/grid/uiGrid.js"></script>
    <script type="text/javascript" src="./script/bw/modules/main/directives/grid/screenGrid.js"></script>
    <script type="text/javascript" src="./script/bw/modules/main/controllers/main.js"></script>

    <script type="text/javascript" src="./script/bw/modules/main/main.js"></script>
</head>
<body data-ng-controller="MainCtrl as ctrl">


<navtabs on-open="ctrl.getDefinitionNotifications()">

    <tab header-icon="glyphicon glyphicon-list-alt" name="DEFINITIONS" is-active="true">

        <div class="apply col-md-12">
            <button type="button" class="btn btn-default active col-md-12"
                data-ng-click='ctrl.submitFilter()'>Apply</button>
        </div>

        <check-list check-name="filtered"
                    display-name="displayName"
                    items="ctrl.definitions"></check-list>


    </tab>
    <tab header-icon="glyphicon glyphicon-tasks" name="BUILDS" >

        <div class="form-group col-md-12">
            <label for='totalColumms'>Columns</label>
            <input id='totalColumms' type="number" min='1' max='9' class="form-control" data-ng-model='ctrl.totalColumns'>
        </div>

        <div class="form-group col-md-12">
            <div class="checkbox">
                <label>    <input type="checkbox" data-ng-model='ctrl.trackBroken' /> Track Broken   </label>
            </div>
        </div>

        <div data-ng-class="{'show' : !ctrl.trackBroken, 'hide' : ctrl.trackBroken}">

            <check-list check-name="filtered"
                        display-name="displayName"
                        items="ctrl.builds"
                        check-changed="ctrl.saveSettings()"></check-list>
        </div>

    </tab>
    <tab header-icon="glyphicon glyphicon-record" name="BUILD DETAILS" >

        <build-details build="ctrl.currentBuild" ></build-details>

    </tab>

</navtabs>


<screen-grid
        current-build-id="ctrl.currentBuildId"
        total-columns="ctrl.totalColumns"
        builds="ctrl.builds"
        track-broken="ctrl.trackBroken"
        margin="7"
        max-item-heigth="400" ></screen-grid>

<blocker text="ctrl.blocker.text"
         sub-text="ctrl.blocker.subText"
         visible="ctrl.blocker.isVisible"></blocker>


</body>
</html>