html {
    height: 100%;
    padding : 0;
    margin : 0;
}


body {
    background : #668DCD;
    padding : 0;
    margin : 0;
    overflow: hidden;
    height: 100%;
}

.has-feedback .form-control-feedback {
    top:0px;
    color:#000000;
    font-weight: inherit;
}

.list-header {
    border-radius:0px;
    margin-bottom: 10px;
}





/* ------------  GRID ----------------*/
.dashboard {
    margin: 10px 0 0 20px;
}

.gridster > ul {
    width : 100%;
}

.gridster > ul > li {
    background-color: grey;
    list-style:none;
    border-radius : 5px;
}


/*----------- Settings ---------------*/

.settings-topper {
    position: fixed;
    top: 10px;
    font-size: 50px;
    left: calc(100% - 55px);
}
.settings-topper:hover {
    color:  #0A0AFF;
}

.settings {
    position: fixed;
    width : 350px;
    top : 5px;
    left : calc(100% - 355px);
    background : white;
    border-radius: 5px;
    padding: 5px;
    display:none;
    z-index : 9000;
}

.settings > .glyphicon-remove {
    top: 5px;
    left: 320px;
}

.build-settings {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding-top:5px;
}





/*----------- Text ---------------*/



div.shine
{
    font-size: 3em;
    margin: 0px;
    width: 100%;
    text-align:center;
}

.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;

    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;

    -webkit-animation-name: shine;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}