html {
    height: 100%;
    padding : 0;
    margin : 0;
}


body {
    background : #668DCD;
    padding : 0;
    margin : 0;
    overflow: hidden;
    height: 100%;
}

.has-feedback .form-control-feedback {
    top:0px;
    color:#000000;
    font-weight: inherit;
}



/* ------------  GRID ----------------*/
.dashboard {
    margin: 10px 0 0 20px;
}

.gridster > ul {
    width : 100%;
}

.gridster > ul > li {
    background-color: grey;
    list-style:none;
    border-radius : 5px;
}



/*----------- Blocker ---------------*/


.blocker {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(102, 99, 99, 0.84);
    position: absolute;
    left: 0;
    top:0;
    text-align: center;
}

.blocker > * {
    position:relative;
    top: 40%;
    font-size: 2.5vw;
    color: rgba(255, 255, 255, 0.81);
    padding: 0;
    margin: 0;
}

.blocker .sub {
    font-size: 1.5vw;
    margin: 0 25px 0 25px;
    padding: 0 50px 0 25px;
}


.build-settings {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding-top:5px;
}





/*----------- Text ---------------*/



div.shine
{
    font-size: 3em;
    margin: 0px;
    width: 100%;
    text-align:center;
}

.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;

    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;

    -webkit-animation-name: shine;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}